body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Fredoka", sans-serif;
    background: url('assets/background.png') no-repeat center center fixed;
    background-size: cover;
}

.fredoka-font {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .container {
    text-align: center;
    margin-top: 50px; /* Add margin to space it from the top */
    /* Removed position: absolute; */
    /* Removed top, left, and transform properties */
    /* Use position: relative; if you still need to position elements within the container */
}

.title-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
}

.text-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.title-image:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; /* Add margin to separate buttons from the grid */
}

.button {
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
}

.button:hover {
    transform: scale(1.1);
}

/* Popup styling */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1000;
}

.popup.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.popup-image {
    max-width: 100%;
    height: auto;
}

/* Adjust this value as needed */
.popup-form {

    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    display: flex;
    overflow: hidden; /* Ensure content fits within the square */
    

    /* 
     row-gap: 10px;
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);*/ 
}

.popup-form label {
    display: block;
    margin-bottom: 5px; /* Adds some space below each label */
}

.popup-form select {
    margin-bottom: 15px; /* Adds space between each dropdown */
    width: 100%; /* Ensures the select box takes up the full width */
}

/* .centered-menucontent { */
    /* width: auto; */
    /* height: auto; */
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: hidden; Ensure content fits within the square */
/* } */

#possible-flowers-list {

    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    /* display: flex; */
   /*  overflow: hidden; /* Ensure content fits within the square */
    overflow-y: auto; /* Enables vertical scrollbar if needed */
    height: 200px; /* Adjust height as needed */

}
#all-possible-flowers-list {

    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    /* display: flex; */
   /*  overflow: hidden; /* Ensure content fits within the square */
    overflow-y: auto; /* Enables vertical scrollbar if needed */
    height: 200px; /* Adjust height as needed */

}

.popup-content {
   
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    
}

/* square buttons styling */
.popup-button {
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: auto;
    transition: transform 0.2s ease;
}

.popup-button:hover {
    transform: scale(1.2);
}

/* rectangle buttons styling */
.popup-button2 {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 40px;
    transition: transform 0.2s ease;
    padding: 10px 20px;
}

.popup-button2:hover {
    transform: scale(1.2);
}

#tutorialExitButton, #aboutExitButton, #flowerExitButton, #possibleflowerExitButton, #breedableExitButton, #allflowersExitButton {
    top: 10px;
    right: 10px;
}

.flowerExitButton {
    top: 10px;
    right: 10px;
}

#nextButton {
    bottom: 10px;
    right: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#clearButton {
   /* top: 100%; */
  
   /* top: auto; */
    bottom: 10px;
    left: 10px;

   
   /*  max-height: 50px;
    min-height: 10px;
    width: auto; */
}

.button-container {
    position: absolute;
    top: 30%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    display: flex;
    row-gap: 10px; /* Adjust this value for the gap between buttons */
    padding-top: 30%;
   
}

.button-container2 {
    position: absolute;
    top: 90%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    display: flex;
    row-gap: 10px; /* Adjust this value for the gap between buttons */
    padding: 10px 20px;
   
}

/* #percentButton,
#selectButton {
    // Add padding to buttons if needed 
    padding: 10px 20px; /* Adjust padding as needed 
}
*/

    #percentButton {
        top: 30%;
        left: 90%;
        

    }

 #selectButton {
    top: 30%;
    right: 90%;
    /*bottom: 0px;
        left: 0px;*/
 
 }



.submit-Button {
    bottom: 10px;
    right: 10px;
}

/* #submit-Button {
    
    bottom: 10px;
    right: 10px; */

    
  /*  max-height: 50px;
    min-height: 10px;
    width: auto; 
}*/

/* GRID STUFF */

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px; /* Add margin to separate grid from buttons */
}

.grid div {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.5em;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    transition: transform 0.2s ease; /* Smooth scaling transition */
    border-radius: 10px; /* Add rounded corners */
}

.grid div:hover {
    transform: scale(1.2); /* Scale the square on hover */
}

.grid div.breedable {
    background-color: #a8d08d;
}

.grid div.hovered {
    position: relative;
}

.grid div.hovered .hover-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

/* Media query for smaller devices */
@media (max-width: 1000px) {
    .grid {
        padding: 0 10px; /* Add padding to the left and right */
    }

    .grid div {
        width: 40px; /* Make the grid squares smaller */
        height: 40px;
        font-size: 0.4em; /* Adjust font size if needed */
    }


    .title-image, .text-image {
        max-width: 90%;
    }

    .button {
        width: 120px;
    }


/* square buttons styling */
.popup-button {
    width: 40px;
}

/* rectangle buttons styling */
.popup-button2 {
    height: 40px;
}


/* Popup styling */
.popup {
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
}

.popup.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.popup-image {
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
}

/* Adjust this value as needed */
.popup-form {

    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    display: flex;
   /*  overflow: hidden; /* Ensure content fits within the square */
    width: 350px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    overflow-x: auto; /* Enables horizontal scrollbar if needed */
    overflow-y: auto; /* Enables vertical scrollbar if needed */

}
/* for form menu */
.button-container2 {
    position: fixed;
    top: 80%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 30px;
    display: flex;
    row-gap: 40px; /* Adjust this value for the gap between buttons */
    padding-top: 30%;
   
}
/* for breedable square menu */
.button-container {
    position: fixed;
    top: 30%; /* Adjust this value as needed */
    left: 55%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 10px;
    row-gap: 10px; /* Adjust this value for the gap between buttons */
    padding-top: 30%;
}

.popup-form label {
    display: block;
    justify-content: center;
    margin-bottom: 5px; /* Adds some space below each label */
    margin-right: 50px; /* Adds some space below each label */
    margin-left: 100px; /* Adds some space below each label */
}

.popup-form select {
    margin-bottom: 15px; /* Adds space between each dropdown */
    justify-content: center;
    width: 50%; /* Ensures the select box takes up the full width */
    margin-right: 50px; /* Adds some space below each label */
    margin-left: 100px; /* Adds some space below each label */
}

#possible-flowers-list {

    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    /* display: flex; */
    overflow-x: auto; /* Enables horizontal scrollbar if needed */
    overflow-y: auto; /* Enables vertical scrollbar if needed */
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */

}
#all-possible-flowers-list {

    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 20px;
    /* display: flex; */
    overflow-x: auto; /* Enables horizontal scrollbar if needed */
    overflow-y: auto; /* Enables vertical scrollbar if needed */
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */

}

.popup-content {
   
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */


}




}